In [55]:
import pandas as pd
import json

In [56]:
df = pd.read_csv('new_intents/formatted_data.csv')

In [57]:
df.head()

,IntentID,IntentName,Query,Response,Action,InputContent,OutputContent,Lifespan
0,1,1,Attack of Caterpillar on bhindi ?,Spray Proclaim 07 gm/15 liter of Water(Emamect...,NaN,NaN,NaN,NaN
1,2,2,ASKED ABOUT BITTER GOURD PLKANTATION ?,"For more information on cultivation, all India...",NaN,NaN,NaN,NaN
2,3,3,STEM BORER ATTACK ON MANGO ?,STEM BORER ATTACK ON MANGO = APPLICATION OF N...,NaN,NaN,NaN,NaN
3,4,4,Attack of White Fly ?,Spray Ullala 8 gm/15 Lit of Water.UPL,NaN,NaN,NaN,NaN
4,5,5,ASKED ABOUT Attack of Thrips ON COTTON?,SPRAY JUMP(FIPRONIL 80%) 3 GM / 15 LITRE OF WA...,NaN,NaN,NaN,NaN

In [58]:
for row in df.itertuples():
    intent_name = row[2]
    query = row[3]
    response = row[4]
    with open('new_intents/intent/{}.json'.format(intent_name), 'w') as outfile:
        data = {
            "name": intent_name,
            "auto": True,
            "contexts": [],
            "responses": [{
                "resetContexts": False,
                "action": "",
                "messages": [{
                    "type": 0,
                    "lang": "en",
                    "speech": [
                        response
                    ]
                }],
                "affectedContexts": []
            }]
        }
        json.dump(data, outfile)
        
    with open('new_intents/intent/{}_usersays_en.json'.format(intent_name), 'w') as outfile:
        data = [{
            "data": [{
                "text": query,
                "userDefined": False
            }],
            "isTemplate": False,
            "count": 0,
            "updated": 0
        }]
        json.dump(data, outfile)

In [59]:
intent_name

3452

In [28]:
with open('new_intents/{}.json'.format(), 'w') as outfile:
    data = {"test": "1", "no": "2"}
    json.dump(data, outfile)